.content-text {
  font-size: 30px;
  font-family: sans-serif;
  letter-spacing: 2px;
  line-height: 1.8;
}

.header-text {
  font-size: 60px;
  font-family: serif;
  font-weight: bold;
}

.mynavbar {
  font-family: serif;
  color: white;
  padding: 10px 10px 10px 10px;
  font-size: 1.8rem;
  transition: font-size 0.3s ease, color 0.3s ease; /* Smooth animation */
}

.mynavbar:hover {
  font-size: 2rem; /* Enlarged font size on hover */
  color: #007bff !important;
}

.mynav-item {
  color: white !important;
  font-size: 1rem;
  padding: 10px 10px 10px 10px;
  font-weight: 450;
  transition: font-size 0.3s ease, color 0.3s ease !important; /* Smooth animation */
}

.mynav-item:hover {
  font-size: 1.1rem; /* Enlarged font size on hover */
  color: #6c78d4 !important;
  font-weight: 600;
}

.mynavbar-brand {
  font-family: serif;
  color: white;
  font-size: 1.8rem;
  transition: font-size 0.3s ease, color 0.3s ease; /* Smooth animation */
}

.mynavbar-brand:hover {
  font-size: 2rem; /* Enlarged font size on hover */
  color: #007bff;
  /* font-weight: 600; */
}

.navBG {
  background-color: #3b3e43;
}
